*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    /* border: solid red; */
    text-align: center;
    background: url('image/IMG_8579.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1.6%;
    border-radius: 0.5rem;
}

.btn-head a {
    text-decoration: none;
    margin: 0 1rem;
    color: #fff;
    background-color: #333;
    padding: 3px 8px;
    border-radius: 0.5rem;
    font-size: 0.8rem;
}

.logo{

    text-align: left;
    margin: 8%;
    color: #fff;
}

.logo h1 {
    font-size: 2.8rem;
    color: #fff;
}

.bodyside {
    display: flex;
    margin: 0 1rem;
}

.sidebar {
    /* border: solid greenyellow; */
    display: flex;
    width: 25%;
}

.nav-menu {
    list-style: none;
    width: 100%;
}

.nav-menu li {
    list-style: none;
    /* border: solid red; */
    margin-bottom: 0.6rem;
    padding: 8px 1rem;
    background-color: rgb(227, 184, 231);
    border-radius: 0.8rem;
}

.nav-menu li a {
    text-decoration: none;
    color: rgb(72, 75, 179);
}

.bodyside {
    gap: 0.5rem;
}

.bodyside main {
    /* border: solid rgb(0, 72, 255); */
    width: 75%;
}

main h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    background-color:#847fe3;
    /* border: solid red; */
    border-radius: 0.5rem;
    padding: 4px 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 4rem; 
}

.grid .box:nth-child(5),
.grid .box:nth-child(6),
.grid .box:nth-child(7) {
    grid-column: span 1;
}

.box {
    background-color: #c1cdc1;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    height: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box img {
    width: 80%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

h2 {
    font-size: 0.7rem;
    margin: 10px 0 5px;
}

p {
    font-size: 1rem;
    color: black;
}

.box:hover {
    background-color:#3c4744 ;
    transform : scales(1.05);
    transition : all 0.3s ease;
}

.p1 {
    font-size: 1rem ;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
}

.container p {
    color: #fff;
}

footer {
    padding: 20px 0;
    text-align: center;
    border: solid rgb(209, 133, 205);
    background-color: #333;
    color: #fff;
    font-size: 0.7rem;
}