@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@300&family=Playfair+Display:ital@0;1&family=Syne:wght@400..800&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
  
h1 {
    font-family: "Syne", sans-serif;
    color: #9b8268;
    font-size: 5rem;
    margin: 100px;
}
  
.highlight {
    background-color: #c8b89d5e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
  
.highlight h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: #78522c;
    margin-bottom: 10px;
}
  
.highlight p {
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}
  
.highlight img {
    width: 320px;
    height: 385px;
    object-fit: cover;
    margin-top: 20px;
}