@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@300&family=Playfair+Display:ital@0;1&family=Syne:wght@400..800&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0%;
}

header {
    margin: 30px;
}
h1 {
    font-family: "Syne", sans-serif;
    color: #78522c;
    font-size: 5rem;
    margin: 1px;
    padding: 15px;
}

nav ul {
    float: left;
    width: 10%;
    background-color: rgb(247, 233, 215);
    text-align: left;
    height: 20vh;
    border-radius: 10px;
    padding: 50px;
    margin-top: 30px;
}

li {
    padding: 15px;
}

article {
    float: right;
    width: 78%;
}
  
.highlight {
    background-color: #c8b89d5e;
    padding: 20px;
    border-radius: 10px;
    margin : 30px;
    margin-right: 0px;
}
  
.highlight h3 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    color: #78522c;
    margin-bottom: 10px;
}
  
.highlight p {
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.3rem;
    line-height: 1.5;
}
  
.highlight img {
    width: 320px;
    height: 385px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    header, nav ul, li, article {
      width: 100%;
      text-align: center;
      overflow: auto;
    }
}