@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
  
h1 {
    font-family: "Syne", sans-serif;
    color: #774f38;
    font-size: 5rem;
    margin: 100px;
}
  
.highlight {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}
  
.highlight h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.highlight p {
    line-height: 1.5;
}
  
.highlight img {
    width: 320px;
    height: 385px;
    object-fit: cover;
    margin-top: 20px;
}